.md-button.md-icon-button.menuBtn {
  margin-top: 6px;
  margin-right: 0;
}

.app-list .md-button {
  color: #585858;
  text-align: left;
  width: 100%;
}
.app-list .selected {
  color: #2E64FE;
}
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 4px 16px;
  vertical-align: middle;
  width: 48px;
}
.content-wrapper {
  position: relative;
}
#primary-col {
  overflow: hidden;
}
#primary-col .md-button {
  margin: 8px auto 16px 0;
}
#primary-col .cell {
  flex: 1 1 auto;
}
#primary-col img {
  display: block;
  max-width: 100%;
}

/*Colors*/
$gray: #eee;

/*Angular*/
[ng-click] {
  &:hover {
    cursor: pointer;
  }
}

/*Main content bg color*/
md-content.md-default-theme {
  color: #424242;
}

/*Navigation drawer pattern: https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-specs*/
md-sidenav > md-toolbar {
  padding: 15px;
  height: 128px;
  max-height: auto;
}

/*White svg icons in toolbar and fab*/
md-sidenav {
  md-icon {
    fill: #737373;
    position: relative;
  }
  .md-avatar {
    height: 64px;
    width: 64px;
  }
}

/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line {
  md-divider {
    &[md-inset] {
      left: 70px;
    }
  }
}

// Round avatar
.md-avatar {
  & > svg {
    border-radius: 50%;
  }
}

/* fade animation */
.animate-show {
    transition: 0.75s ease-out opacity;
    opacity: 1;
  &.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
